@model IEnumerable<Deerfly_Patches.Models.Retailer>

@{
    ViewBag.Title = "Retailer Map";
}

<h2>Retailer Map</h2>

<div class="row" id="retailer-map-container">
    <div id="retailer-list-view" class="col-sm-4">
        <form id="retailer-list-filter" action="@Url.Action("Index", "RetailerMap")" method="get">
            <label for="zip">Enter your zip</label>
            <input type="text" name="zip" value="@ViewBag.Zip"/><br />

            <label for="range">Search within </label>
            <input type="text" name="range" value="@ViewBag.Range"/> miles

            <input type="hidden" name="location" />

            <input type="submit" value="Filter" />
        </form>
        <hr />
        <ul id="retailer-list">
            @foreach (var retailer in Model)
            {
                <li class="retailer-item-li">
                    <div class="retailer-item">
                        <span class="retailer-name">@retailer.Name <br /></span>
                        <span class="retailer-distance"></span><br />
                        <span class="retailer-address">
                            @retailer.Address.Address1 <br />
                            @retailer.Address.City, @retailer.Address.State<br />
                        </span>
                        <span class="retailer-phone">@retailer.Address.Phone<br /></span>
                        <span class="retailer-website"><a href="@retailer.Website">@retailer.Website</a></span>
                        <span class="retailer-latlng hidden">@retailer.LatLng.ToJson()</span>
                    </div>
                    <hr />
                </li>
            }
        </ul>
    </div>
    <div id="retailer-map-view" class="col-sm-8"></div>
</div>

<div class="hidden" id="retailerJsonUrl">@Url.Action("ListJson", "Retailers")</div>
<div class="hidden" id="zoom">@ViewBag.Zoom</div>
<div class="hidden" id="location">@ViewBag.Location.ToJson()</div>
<ul class="hidden" id="retailer-item-li-template">
    <li class="retailer-item-li">
        <div class="retailer-item">
            <span class="retailer-name"></span><br />
            <span class="retailer-distance"></span><br />
            <span class="retailer-address"><br /></span>
            <span class="retailer-phone"><br /></span>
            <a class="retailer-website" href=""></a>
        </div>
        <hr />
    </li>
</ul>

<script src="~/Scripts/Deerfly_Patches/gmaps.js"></script>
<script async defer src="@ViewBag.GoogleMapsUrl" onerror="loadGMapsError();"></script>
