@model Deerfly_Patches.ViewModels.ShoppingCart

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>
<hr />

<div class="container">
    <div class="row item-detail-header">
        <div class="col-xs-5 col-sm-6 col-md-5 col-lg-5 item-name">Product</div>
        <div class="hidden-xs col-sm-2 col-md-1 col-lg-1 item-unit-price">Unit Price</div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item-quantity">Quantity</div>
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1 item-extended-price">Price</div>
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1 item-shipping">Shipping</div>
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 item-total-price">Total Price</div>
        <div class="col-xs-1"></div>
    </div>
    <hr />
@if (Model != null && Model.GetItems().Count != 0)
{
    foreach (var item in Model.GetItems())
    {
        <div class="row item-detail-line" id="item-@item.Product.ProductId">
            <div class="col-xs-5 col-sm-6 col-md-5 col-lg-5 item-name">@item.Product.Name</div>
            <div class="hidden-xs col-sm-2 col-md-1 col-lg-1 item-unit-price">$@item.UnitPrice</div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item-quantity">
                <button onclick="decrementItemInShoppingCart(@item.Product.ProductId)">-</button>
                <span class="item-qty-ct" id="qty-@item.Product.ProductId">@item.Quantity</span>
                <button onclick="incrementItemInShoppingCart(@item.Product.ProductId)">+</button>
            </div>
            <div class="hidden-xs hidden-sm col-md-1 col-lg-1 item-extended-price">$@item.ExtendedPrice</div>
            <div class="hidden-xs hidden-sm col-md-1 col-lg-1 item-shipping">$@item.Shipping</div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 item-total-price">$@item.TotalPrice</div>
            <div class="col-xs-1">
                <button onclick="removeItemInShoppingCart(@item.Product.ProductId)">x</button>
            </div>
        </div>
    }

    <hr />
    <div class="row item-detail-total">
        <div class="col-xs-5 col-sm-6 col-md-5 col-lg-5 item-name">TOTAL:</div>
        <div class="hidden-xs col-sm-2 col-md-1 col-lg-1 item-unit-price"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 item-quantity"></div>
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1 item-extended-price">$@Model.TotalExtendedPrice</div>
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1 item-shipping">$@Model.TotalShipping</div>
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 item-total-price">$@Model.GrandTotal</div>
        <div class="col-xs-1"></div>
    </div>

    <hr />
    <div class="hidden col-md-6"></div>



    <div id="country-select" class="row">
        <form onchange="toggleCountry()">
            <input type="radio" name="country" value="US" />US
            <input type="radio" name="country" value="International" checked/>International
        </form>
    </div>

    <script>
        window.onload = function () {
            setCountry();
        };
    </script>


    <div id="proceed-to-confirmation-page-link" class="text-right">
        <span id="lippButton">Sign in</span>
        <p>Please sign in with PayPal to autofill shipping address</p>
        <p><a href="/checkout">Or fill it in yourself</a></p>
    </div>


    
    <script src='https://www.paypalobjects.com/js/external/api.js'></script>
    <script>
        paypal.use(['login'], function (login) {
            login.render({
                "appid": "AaLYEqNuR4sUTr6y7l7riLn6GhJDv6YY-1LrWwIyRHrRmXOlQjGscB8MQTUY_9unYy4SRSzhdVvRQ9_m",
                "authend": "sandbox",
                "scopes": "openid profile address",
                "containerid": "lippButton",
                "locale": "en-us",
                "returnurl": "http://www.mysite.com/checkout"
            });
        });
    </script>



    <div class="row" id="paypal-button" onload="renderPayPal();"></div>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        var CREATE_PAYMENT_URL ='/paypal/createOrder';
        var EXECUTE_PAYMENT_URL = '/paypal/executePayment';

        paypal.Button.render({

            env: 'sandbox', // Or 'sandbox' / production

            commit: true, // Show a 'Pay Now' button

            payment: function () {
                return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
                    return data.id; 
                });
            },

            onAuthorize: function (data) {
                return paypal.request.post(EXECUTE_PAYMENT_URL, {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                }).then(function (data) {
                    debugger;
                    // The payment is complete!
                    // You can now show a confirmation message to the customer
                });
            }

        }, '#paypal-button');
    </script>
}
else
{
        <div class="row">
            <h3>No Items in Shopping Cart</h3>
            <p>Go back to @Html.ActionLink("orders", "Index", "Order")</p>
        </div>
}

    
</div>
