<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Deerfly Patches</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Deerfly Patches", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mynav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Retailer Map", "Index", "RetailerMap")</li>
                    <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Faq", "Home")</li>
                    <!--
                    <li>@Html.ActionLink("Order", "Index", "Order")</li>
                    <li>
                        <a href="/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart</a>
                    </li>
                        -->
                </ul>
                <!--
                @Html.Partial("_LoginPartial")
                    -->
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <span>&copy; @DateTime.Now.Year - Detex</span>
            <span class="pull-right">Website created by <a href="http://www.christopherstieg.com">Christopher Stieg</a></span>
        </footer>
        <span class="hidden-md" id="anti-forgery-token">@Html.AntiForgeryToken()</span>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="~/Scripts/Deerfly_Patches/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
