@model IEnumerable<Deerfly_Patches.Models.Testimonial>

@{
    ViewBag.Title = "Testimonials";
}

<h2>Testimonials</h2>

@section BreadCrumbs
{
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item">Deerfly Patches</a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/Testimonials" itemprop="item">Testimonials</a>
            <meta itemprop="position" content="2" />
        </li>
    </ul>
}

<div class="container">
    <div class="row">
        <ul id="testimonial-list" class="col-xs-12 col-sm-4">
            @foreach (var testimonial in Model)
            {
                <li class="testimonial-item"
                    onmouseover="displayTestimonial(@testimonial.TestimonialId, '@testimonial.ImageUrl',
                    '@testimonial.ImageSrcSet')">
                    <a href="@testimonial.ImageUrl">
                        <p class="testimonial-label" id="@testimonial.TestimonialId">@testimonial.Label</p>
                    </a>
                    <hr />
                    <div id="testimonial-display-inline-@testimonial.TestimonialId"></div>
                </li>
            }
        </ul>
        <div id="testimonial-display" class="hidden-xs col-sm-8">Hover over a link to display the image</div>
    </div>
</div>
