@model Deerfly_Patches.Models.Retailer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Retailer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LatLng.LatLngId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatLng.LatLngId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RetailerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
