@model IEnumerable<Deerfly_Patches.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipToAddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillToAddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipToAddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillToAddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
